@media screen and (min-width: 1024px) {
  .body-card {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    row-gap: 1.5vw;
    column-gap: 0.5vw;
    padding: 0.5vw 1vw;
    background-color: var(--body-bg-color);
    overflow: auto;
    border-radius: 12px;
  }

  .body-card h1 {
    font-weight: 900;
    font-size: 2vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .body-card h2 {
    font-weight: 700;
    font-size: 1.5vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .body-card label {
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
  }

  .fragments {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    overflow: auto;
    flex-direction: row;
  }

  #fragments-controllers {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    column-gap: 1vw;
  }

  .fragment-controller {
    font-weight: 500;
    font-size: 1vw;
    font-family: var(--pff);
    color: var(--primaryColor);
    cursor: pointer;
  }

  .fragment-controller.active {
    color: var(--accentColor);
    font-weight: 900;
  }

  .fragment {
    width: 100%;
    height: 100%;
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    overflow: auto;
  }

  .fragment.active {
    display: flex;
  }

  .articles-rows {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    row-gap: 0.5vw;
  }

  .article-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .article-row#header:hover {
    background-color: transparent;
  }

  .article-row {
    transition: 250ms ease;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 0.5;
    border-radius: 12px;
  }
  .article-row.active {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  .article-row#header {
    background-color: rgba(0, 0, 0, 0.05) !important;
    height: 6vw;
  }

  .article-row-header {
    border-radius: 12px;
    transition: 250ms ease;
    padding: 0 0.5vw;
    width: 100%;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 1vw;
  }
  .article-row-header#header {
    max-height: 5vh;
  }

  .article-row-cover {
    min-width: 6vw;
    min-height: 6vw;
    display: flex;
    border-radius: 12px;
    background-color: var(--bg-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #header .article-row-cover {
    opacity: 0;
  }

  .fragment#articles .article-row-code {
    min-width: 20%;
    max-width: 20%;
  }

  .fragment#drafts .article-row-code {
    min-width: 20%;
    max-width: 20%;
  }

  .article-row-code {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    font-weight: 300;
    font-size: 1vw;
    font-family: "Poppins";
  }

  .fragment#articles .article-row-title {
    min-width: 40%;
    max-width: 40%;
  }

  .fragment#drafts .article-row-title {
    min-width: 40%;
    max-width: 40%;
  }

  .article-row-title {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-align: start;
    font-weight: 300;
    font-size: 1vw;
    font-family: "Poppins";
  }
  .article-row-labelling,
  .article-row-articles,
  .article-row-views {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-align: start;
    font-weight: 300;
    font-size: 1vw;
    font-family: "Poppins";
  }

  .article-row-views,
  .article-row-articles {
    min-width: 20%;
    max-width: 20%;
  }

  .article-row-labelling {
    min-width: 25%;
    max-width: 25%;
  }

  .article-row-collapsable > * {
    display: none;
  }
  .article-row-collapsable {
    width: 100%;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: 250ms ease;
    max-height: 200vh;
  }

  .article-row-collapsable-body {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 32px 1vw;
  }

  .article-row-collapsable.active {
    height: 40vh;
    overflow-y: auto;
  }

  .article-row-collapsable.active * {
    display: flex;
  }

  .article-row-collapsable-column {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    row-gap: 0.5vw;
  }
  .article-row-collapsable-cover {
    min-width: 8vw;
    min-height: 8vw;
    display: flex;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    padding: 0.5vw 1vw;
  }
  .article-row-collapsable-column-tile {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0.2vw;
  }

  .article-row-collapsable-column-tile > label {
    font-weight: 300;
    font-size: 0.7vw;
    font-family: "Poppins";
  }

  .article-row-collapsable-column-tile > h3 {
    font-weight: 500;
    font-size: 0.8vw;
    font-family: "Poppins";
  }

  .article-row-collapsable-column-tile > button {
    font-weight: 500;
    font-size: 0.5vw !important;
    z-index: 5;
    font-family: "Poppins";
    color: #111;
    text-decoration: underline;
    /* padding-right: 4px; */
    padding: 4px;
  }
  
  .msg-dialog#confirmation-dialog {
    width: 40%;
    min-height: 10vw;
  }

  .form-dialog#edit-dialog {
    width: 85% !important;
    height: 40vw !important;
  }


  .dialog-card input,
  .dialog-card textarea {
    background-color: var(--body-bg-color) !important;
  }

  .dialog-card {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    row-gap: 1.5vw;
    column-gap: 0.5vw;
    padding: 0.5vw 1vw;
    background-color: var(--bg-color);
    border-radius: 12px;
  }

  .dialog-card h1 {
    font-weight: 900;
    font-size: 2vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .dialog-card h2 {
    font-weight: 700;
    font-size: 1.5vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .dialog-card label {
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
  }

  .fields-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.75vw;
    column-gap: 0.5vw;
    align-items: start;
    place-items: start;
  }

  #audio-selection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: var(--pff);
    padding: 0 5%;
  }

  .divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      #999 50%,
      transparent 100%
    );
  }

  .image-picker {
    background-image: var(--image-placeholder);
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 20vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .tags {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1vw;
  }

  .tags .header {
    gap: 0.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .tags .body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 1vw;
    column-gap: 0.5vw;
  }

  #toast {
    font-weight: 500;
    font-family: var(--sff);
    color: var(--primaryColor);
    background-color: var(--body-bg-color);
    padding: 0.5vw 1vw;
    border-radius: 6px;
    border: 2px var(--accentColor) solid;
    position: fixed;
    bottom: 2vw;
    display: none;
    right: 2vw;
    transition: 500ms ease;
  }

  /* Dropdown Button */
  .dropbtn {
    background-color: var(--body-bg-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 12px;
    color: var(--primaryColor);
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: start;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--body-bg-color);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 20vw;
    overflow-y: auto;
  }

  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: start;
    width: 100%;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 1vw;
  }

  .tag-tile {
    display: flex;
    flex-direction: row !important;
    background-color: var(--accentColor);
    padding: 0.25vw 0.5vw;
    border-radius: 4px;
    align-items: center;
    justify-content: start;
    gap: 0.5vw;
  }

  .tag-tile div {
    color: var(--bg-color) !important;
    font-weight: 300;
    font-size: 1vw;
    cursor: pointer;
    font-family: var(--pff);
  }

  .tag-tile p {
    color: var(--bg-color);
    font-weight: 500;
    font-size: 1vw;
    font-family: var(--pff);
  }

  #media-tiles {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1vw;
    column-gap: 0.5vw;
  }

  .media-tile {
    padding: 0.25vw 0.5vw;
    border-radius: 50px;
    background-color: var(--bg-color);
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--sff);
    cursor: pointer;
    transition: 250ms ease;
  }

  .media-tile.active {
    border: 2px var(--accentColor) solid;
  }

  .media-selector {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    row-gap: 1vw;
  }
}
