@media screen and (min-width: 1024px) {
  section#entry {
    width: 100%;
    height: 30vw;
    background: linear-gradient(
      180deg,
      transparent 0,
      var(--body-bg-color) 50%
    );
  }

  section#entry #overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--overlay-color);
  }

  section#entry h1 {
    color: var(--primaryColor);
    font-size: 4vw;
    font-family: var(--pff);
    font-weight: 900;
    font-style: italic;
  }

  section#entry p {
    color: var(--primaryVarientColor);
    font-size: 1.5vw;
    font-family: var(--sff);
    font-weight: 300;
    font-style: italic;
    padding: 0 30%;
    text-align: center;
  }

  section#entry p br {
    display: none;
  }

  section#all-courses {
    width: 100%;
    max-height: 2000000vw;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 5% 5vw;
    flex-direction: column;
    background-color: var(--body-bg-color);
  }

  section#all-courses #cards {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: start;
    justify-items: start;
    row-gap: 2.5vw;
    column-gap: 1.25vw;
    grid-template-columns: repeat(3, 1fr);
  }

  .course-card {
    width: 100%;
    max-height: 50vw;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    border-radius: 12px;
    background-color: var(--bg-color);
    overflow: hidden;
    padding: 0.5vw 1vw;
    transition: 500ms ease-out;
  }

  .course-card:hover {
    transform: scale(1.1);
  }

  .course-card .cover {
    width: 100%;
    min-height: 20vw;
    height: 20vw;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
  }

  .course-card .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 0.25vw 0.5vw;
    flex-direction: column;
    column-gap: 0.25vw;
  }

  .course-card .content h2 {
    font-weight: 900;
    font-size: 1.5vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .course-card .content > p {
    font-weight: 500;
    font-size: 0.8vw;
    font-family: var(--sff);
    color: var(--primaryColorVarient);
  }

  .course-card .content .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 3vw;
  }

  .course-card .content .options p span {
    font-weight: 300;
    font-size: 0.7vw;
    color: var(--primaryColorVarient);
    font-family: var(--sff);
  }

  .course-card .content .options p {
    font-weight: 700;
    font-size: 1vw;
    color: var(--primaryColor);
    font-family: var(--sff);
  }

  .course-card .content .options a {
    color: green;
  }
}
