<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FOREXology - Writers</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='website/global/styles/images/symbol-512.ico')}}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='admin/writers/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/global/styles/computer.css')}}"
    />
    <script
      type="text/javascript"
      src="{{url_for('static', filename='admin/writers/scripts/main.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='website/global/scripts/main.js')}}"
    ></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
  <body>
    <style type="text/css">
      :root {
        --pff: "Raleway";
        --sff: "Poppins";
      }
    </style>

    <section class="admin">
      <div id="left-section">
        <div id="header">
          <div id="logo"></div>
          <p>{{admin_data['name']}}</p>
        </div>
        <div id="body">
          <div
            onclick="window.open(`/webapp/adminstration/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="home-white"></i></div>
            <p>Home</p>
          </div>
          {% if "0" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/layout/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="layout-white"></i></div>
            <p>Layout</p>
          </div>
          {%endif%} {% if "2" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/categories/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon">
              <i class="categories-white"></i>
            </div>
            <p>Categories</p>
          </div>
          {%endif%} {% if "3" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/jobs/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="jobs-white"></i></div>
            <p>Careers</p>
          </div>
          {%endif%} {% if "4" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/ads/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="ads-white"></i></div>
            <p>Ads Spaces</p>
          </div>
          {%endif%} {% if "5" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/writers/`, '_self');"
            class="active left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="writers-white"></i></div>
            <p>Writers</p>
          </div>
          {%endif%} {% if "6" in admin_data['accesses'] %}
          <div
            onclick="window.open(`/webapp/adminstration/admins/`, '_self');"
            class="left-menu-tile"
          >
            <div class="left-menu-tile-icon"><i class="admins-white"></i></div>
            <p>Admins</p>
          </div>
          {%endif%}
        </div>
        <div id="footer">
          <div onclick="adminLogout();" class="left-menu-tile">
            <div class="left-menu-tile-icon"><i class="logout-white"></i></div>
            <p>Logout</p>
          </div>
        </div>
      </div>
      <div id="right-section">
        <div class="body-card">
          <div class="header">
            <h1>Writers Management</h1>
            <p>
              Manage writers that have access to publish new content or edit
              their articles!
            </p>
            <div class="options">
              <button class="shadow-button" onclick="openInvitationsForm();">
                Invitations ({{db_helper.writers.all_writers_invitations |
                length}})
              </button>
              <button class="shadow-button" onclick="openWriterFormDialog();">
                Create
              </button>
            </div>
          </div>
          <div class="body">
            <div class="writer-cards">
              <div class="writer-row" id="header">
                <div class="writer-row-header">
                  <div class="writer-row-cover"></div>
                  <div class="writer-row-code">#</div>
                  <div class="writer-row-title">Name</div>
                  <div class="writer-row-email">Email</div>
                  <div class="writer-row-articles">Articles</div>
                  <div class="writer-row-joinedin">Joined In</div>
                </div>
              </div>
              {% for writer in db_helper.writers.all_writers %}
              <div
                class="writer-row"
                id="{{writer.id}}"
                ondblclick="toggleWriterRow(this)"
              >
                <div class="writer-row-header">
                  <div
                    class="writer-row-cover"
                    style="background-image: url(/assets/writers/{{writer.id}}/);"
                  ></div>
                  <div class="writer-row-code">{{writer.id[:12]}}</div>
                  <div class="writer-row-title">
                    {{writer.name['EN'][:25]}}...
                  </div>
                  <div class="writer-row-email">
                    {{writer.email[:3]}}...{{writer.email[-15:]}}
                  </div>
                  <div class="writer-row-articles">
                    {{db_helper.articles.get_article_by_writer_id(writer.id) |
                    length}}
                  </div>
                  <div class="writer-row-joinedin">
                    {{utils.format_date(writer.joined_in, show_hour= True) |
                    safe}}
                  </div>
                </div>
                <div class="writer-row-divider"></div>
                <div class="writer-row-collapsable">
                  <div class="writer-row-collapsable-body">
                    <div
                      class="writer-row-collapsable-cover"
                      style="background-image: url(/assets/writers/{{writer.id}}/);"
                    ></div>
                    <div class="writer-row-collapsable-column">
                      <div class="writer-row-collapsable-column-tile">
                        <label>Name</label>
                        <h3 class="writer-row-collapsable-writer">
                          {{writer.name['EN'][:25]}}
                        </h3>
                      </div>
                      <div class="writer-row-collapsable-column-tile">
                        <label>ID Number</label>
                        <h3 class="writer-row-collapsable-writer">
                          {{writer.id[:12]}}...
                        </h3>
                      </div>
                      <div class="writer-row-collapsable-column-tile">
                        <label>Email</label>
                        <h3 class="writer-row-collapsable-writer">
                          {{writer.email}}
                        </h3>
                      </div>
                      <div class="writer-row-collapsable-column-tile">
                        <label>Joined In</label>
                        <h3 class="writer-row-collapsable-writer">
                          {{utils.format_date(writer.joined_in, show_hour= True)
                          | safe}}
                        </h3>
                      </div>
                    </div>
                    <div class="writer-row-collapsable-column">
                      <div class="writer-row-collapsable-column-tile">
                        <label>Articles</label>
                        <h3 class="writer-row-collapsable-writer">
                          {{db_helper.articles.get_article_by_writer_id(writer.id)
                          | length}} Article/s
                        </h3>
                      </div>
                      <div class="writer-row-collapsable-column-tile">
                        <label>Categories</label>
                        <h3 class="writer-row-collapsable-writer">
                          {%for category in writer.prefered_category %}
                          {% set cat= db_helper.categories.get_category_by_id(category) %}
                          {% if cat %}
                          {{cat.name['EN']}},
                          {% endif %}
                          {% endfor %}
                        </h3>
                      </div>
                      <div class="writer-row-collapsable-column-tile">
                        <label>Classifications</label>
                        <h3 class="writer-row-collapsable-writer">
                          {%for category in writer.prefered_parent_category %}
                          {% set parent_cat= db_helper.categories.get_category_by_id(category) %}
                          {% if parent_cat %}
                          {{parent_cat.name['EN']}},
                          {% endif %}
                          {% endfor %}
                        </h3>
                      </div>
                      <div class="writer-row-collapsable-column-tile">
                        <label>Tags</label>
                        <h3 class="writer-row-collapsable-writer">
                          {% for tag in writer.tags %} {{tag}} {% endfor %}
                        </h3>
                      </div>
                    </div>
                    <div class="writer-row-collapsable-column">
                      <div class="writer-row-collapsable-column-tile">
                        <label>ReadTime</label>
                        <h3 class="writer-row-collapsable-writer">
                          128 Minutes
                        </h3>
                      </div>
                      <div class="writer-row-collapsable-column-tile">
                        <label>Avg. ReadTime</label>
                        <h3 class="writer-row-collapsable-writer">
                          12 Minutes / article
                        </h3>
                      </div>
                      <div class="writer-row-collapsable-column-tile">
                        <label>Views</label>
                        <h3 class="writer-row-collapsable-writer">534 view</h3>
                      </div>
                      <div class="writer-row-collapsable-column-tile options">
                        <label>Options</label>
                        <div>
                          <button
                            class="product-row-collapsable-product shadow-button"
                            style="color: red"
                          >
                            Suspense
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="form-dialog-overlay" id="invitations-dialog"></div>
      <div class="form-dialog" id="invitations-dialog">
        <div class="header">
          <h2>Invitations</h2>
          <div onclick="closeInvitationsForm();">x</div>
        </div>
        <div class="body">
          <table id="invitations">
            <tr>
              <th>Email</th>
              <th>Invitation ID</th>
              <th>Actions</th>
            </tr>
            {% for inv in db_helper.writers.all_writers_invitations %}
            <tr>
              <td>{{inv['email']}}</td>
              <td>{{inv['invId'][:5]}}...{{inv['invId'][-5:]}}</td>
              <td>
                <button
                  onclick="deleteInvitation(`{{inv['email']}}`)"
                  class="shadow-button"
                  id="delete"
                  style="color: red"
                >
                  Delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="options">
          <p id="status-msg"></p>
        </div>
      </div>
      <div class="confirmation-dialog-overlay" id="writer-form"></div>
      <div class="confirmation-dialog" id="writer-form">
        <div class="header">
          <h2>Create</h2>
          <div onclick="closeWriterForm()">x</div>
        </div>
        <div class="body">
          <label for="email">Writer Email</label>
          <input
            type="email"
            placeholder="email"
            class="single-line-field"
            id="email"
          />
        </div>
        <div class="options">
          <button class="shadow-button" id="clear">Clear</button>
          <button class="shadow-button" id="cancel">Cancel</button>
          <button class="main-button" id="submit">Submit</button>
          <p id="status-msg"></p>
        </div>
      </div>
    </section>
  </body>
</html>
