@media screen and (min-width: 1024px) {
  #right-section {
    overflow-y: auto;
    row-gap: 1.5vw;
  }

  .body-card {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    row-gap: 1.5vw;
    column-gap: 0.5vw;
    padding: 0.5vw 1vw;
    background-color: var(--body-bg-color);
    border-radius: 12px;
  }

  .body-card h1 {
    font-weight: 900;
    font-size: 2vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .body-card p {
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--pff);
    color: var(--primaryVarientColor);
  }

  .body-card h2 {
    font-weight: 700;
    font-size: 1.5vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .body-card label {
    font-weight: 300;
    font-size: 1vw;
    font-family: var(--sff);
    color: var(--primaryVarientColor);
  }

  .body-card .body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  #fields {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1vw;
    overflow-y: auto;
    padding: 0.5vw 1vw;
  }

  #fields label {
    font-weight: 500;
    font-size: 1vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  #fields .fields-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    place-items: start;
    row-gap: 1vw;
    column-gap: 0.5vw;
  }

  .tags {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1vw;
  }

  .tag-tile p {
    font-family: var(--pff);
    font-weight: 700;
  }

  .tag-tile div {
    font-family: var(--sff);
    cursor: pointer;
  }

  .tags .header {
    gap: 0.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .tags .body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 1vw;
    column-gap: 0.5vw;
  }

  #fields #categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1vw;
    column-gap: 0.5vw;
  }

  .category-tile {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0.5vw;
    padding: 0.5vw 1vw;
    background-color: var(--bg-color);
    border-radius: 12px;
    cursor: pointer;
  }

  .category-tile.active {
    border: 1px var(--accentColor) solid;
  }

  .category-tile h3 {
    font-weight: 700;
    font-size: 1.1vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .category-tile p {
    font-weight: 300;
    font-size: 0.9vw;
    font-family: var(--sff);
    color: var(--sff);
  }

  .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 1vw;
  }

  .options p {
    font-weight: 500;
    font-size: 1vw;
    font-family: var(--pff);
    color: var(--primaryColor);
  }

  .image-picker {
    width: 100%;
    aspect-ratio: 6/2;
    display: flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: var(--image-placeholder);
  }

  .image-picker#cover {
    width: 100%;
    min-height: 20vw;
    display: flex;
    background-size: cover;
  }
}
