<!DOCTYPE html>
{% if lang == 'AR' %}
  <html dir="RTL">
    {% else %}
    <html dir="LTR">
{% endif %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{content.global_[lang]['platformTitle']}} -
      {{article.title[lang]}}
    </title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='website/global/styles/images/symbol-512.ico')}}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/article/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/article/styles/largeTablets.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/article/styles/smallTablets.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/article/styles/mobile.css')}}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/global/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/global/styles/largeTablets.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/global/styles/smallTablets.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='website/global/styles/mobile.css')}}"
    />

    <script
      type="text/javascript"
      src="{{url_for('static', filename='website/global/scripts/main.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='website/article/scripts/main.js')}}"
    ></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
  <body>
    {% set writers= db_helper.writers.get_writers_by_ids(article.published_by) %}
    <style type="text/css">
      {% if lang == 'AR' %}
      :root {
        --pff: "Neue Haas Grotesk Display Pro";
        --sff: sans-serif;
      }
      {% else %}
      :root {
        --pff: "Raleway";
        --sff: "Poppins";
      }
      {% endif %}
    </style>
        <header>
          <div id="intro-row">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
              <button onclick="toggleDrawer()" class="shadow-icon-button" style="display: flex;" id="drawer"><i class="drawer"></i></button>
              <div
              onclick="window.open('{{consts.index_route}}', `_self`);"
              id="logo"
              ></div>
            </div>
          <div id="options">
            {% if user_data %}
            <button onclick="window.open('/profile/', '_self');" class="shadow-button" id="welcome-back">{{content.global_[lang]['welcomeBack']}}<br><span>{{user_data.name}}<span></span></button>
            {%else%}
            <button onclick="window.open('/login/', '_self');" class="main-button">
              {{content.actions[lang]['login']}}
            </button>
            {%endif%}
            |
            <button onclick="openSearcDFhDialog();" class="main-icon-button">
              <i onclick="openSearchDialog();" class="search"></i>
            </button>
            <button onclick="toggleTheme(`{{mode}}`);" class="main-icon-button">
              <i class="theme"></i>
            </button>
            <div class="lang header-dropdown">
              <button class="main-icon-button" id="lang"><i class="lang"></i></button>
              <div class="lang header-dropdown-content">
                <div id="dropdown-tabs">
                  <button class="lang {%if lang == 'EN' %} active {%endif%} header-tab" onclick="toggleLang(`{{lang}}`)">English</button>
                  <button class="lang {%if lang == 'AR' %} active {%endif%} header-tab" onclick="toggleLang(`{{lang}}`)">العربية</button>
                </div>
              </div>
          </div>
          </div>
          </div>
          <div id="tabs">
            <div id="tabs">
              <button onclick="toggleDrawer()" class="shadow-icon-button" style="display: none;" id="drawer"><i class="drawer"></i></button>
            <div
            onclick="window.open('{{consts.index_route}}', `_self`);"
            id="logo"
            ></div>
            {% for tab in layout.header_tabs %}
              {% if tab['mode'] == 'link' %}
                <a href="{{tab['redirect']}}" class="header-tab">{{content.tabs[lang][tab['text']]}}</a>
              {%endif%}
              {% if tab['mode'] == 'category' %}
                <a href="/categories/{{tab['categoryId']}}" class="header-tab">{{db_helper.categories.get_category_by_id(tab['categoryId']).name[lang]}}</a>
              {%endif%}
              {% if tab['mode'] == 'classification' %}
              {%set classification= db_helper.categories.get_parent_category_by_id(tab['classificationId']) %}
                <div class="header-dropdown">
                  <button onclick="window.open(`/classifications/{{classification.id}}`, '_self')" class="header-dropbtn">{{classification.name[lang]}}</button>
                  <div class="header-dropdown-content">
                    <div id="label">
                      <h3>{{classification.name[lang]}}</h3>
                      <p>{{classification.bio[lang]}}</p>
                      <button onclick="window.open(`/classifications/{{classification.id}}`, '_self')" class="main-button">{{content.actions[lang]['seeMore']}}</button>
                    </div>
                    <div id="dropdown-tabs">
                      {% for category in classification['categories'] %}
                      <a class="header-tab" href="/categories/{{category.id}}">
                        <div class="shadow-icon-button"><i style="background-image: url('/assets/categories/icons/{{category.id}}/');"></i></div>
                        <p>{{category.name[lang]}}</p>
                      </a>
                      {%endfor%}
                    </div>
                  </div>
              </div>
              {%endif%}
            {%endfor%}
            </div>
            <div id="options">
              <button onclick="openSearcDFhDialog();" class="main-icon-button collabsed">
                <i onclick="openSearchDialog();" class="search"></i>
              </button>
              <div class="lang header-dropdown">
                <button class="main-icon-button collabsed" id="lang"><i class="lang"></i></button>
                <div class="lang header-dropdown-content">
                  <div id="dropdown-tabs">
                    <button class="lang {%if lang == 'EN' %} active {%endif%} header-tab" onclick="toggleLang(`{{lang}}`)">English</button>
                    <button class="lang {%if lang == 'AR' %} active {%endif%} header-tab" onclick="toggleLang(`{{lang}}`)">العربية</button>
                  </div>
                </div>
            </div>
            </div>
      
          </div>
        </header>
    
    <section id="entry">
      <div id="left-section">
        <h1 id="title">{{article.title[lang]}}</h1>
        <p id="subtitle">{{article.short_brief[lang]}}</p>
        <div
          id="cover"
          style="background-image: url('/assets/articles/covers/{{article.id}}');"
        ></div>
        <p id="cover-attached-msg">{{article.cover_attached_msg[lang]}}</p>
        <div id="after-cover">          
          <div id="labelling-inforamtion">
            <div>
              <h3>
                {{content.global_[lang]['classification']}}:
                <span
                  >{{db_helper.categories.get_parent_category_by_id(article.parent_category).name[lang]}}</span
                >
              </h3>
              <h3>
                {{content.global_[lang]['category']}}:
                <span
                  >{{db_helper.categories.get_category_by_id(article.category).name[lang]}}</span
                >
              </h3>
            </div>
            <div>
              {% if writers | length != 0 %}
              <h3>
                {{content.global_[lang]['writtenBy']}}: 
              </h3>
              {% for writer in writers %}
                <a href="/writers/{{writer.id}}/" class="shadow-button">
                  <span>
                    {{writer.name[lang]}}
                  </span>
                </a>
                |
              {%endfor%}
              {% endif %}
            </div>
          </div>
          <div id="options">
            <button class="option" enabled="{{article.record_available}}" onclick="openArticleDialogs('listen');"
              {% if not article.record_available %}
              style="pointer-events: none; opacity: 0.75;" 
              {%endif%}
             >
              <div class="icon shadow-icon-button"><i class="listen"></i></div>
              {% if article.record_available %}
              <p>{{content.actions[lang]['listen']}}<br><span>{{content.global_[lang]['listenMsg']}}</p>
              {% else %}
              <p>{{content.global_[lang]['unavailable']}}<br><span>{{content.global_[lang]['unavailableMsg']}}</p>
              {% endif %}
            </button>
            |
            <button class="option" onclick="openArticleDialogs('share');">
              <div class="icon shadow-icon-button"><i class="share"></i></div>
              <p>{{content.actions[lang]['share']}}<br><span>{{content.global_[lang]['shareMsg']}}</p>
            </button>
            |
            <button class="option" onclick="openArticleDialogs('commet');">
              <div class="icon shadow-icon-button"><i class="comment"></i></div>
              <p>{{content.actions[lang]['comment']}}<br><span>{{content.global_[lang]['commentMsg']}}</p>
            </button>
          </div>
        </div>
        
      </div>
      <div id="right-section">
        {% if article.attached_ad %} 
        {% set entry_ad= db_helper.ads.get_ad_by_id(article.attached_ad) %} 
        {% else %}
        {%set entry_ad= db_helper.ads.get_ad_by_id(layout.home_ad_space_one) %}
        {% endif %}
        <div id="entry-ad"></div>
      </div>
    </section>
    <section id="articles-sections">
      <div id="left-section">
        {% for section in article.sections%}
          <div class="article-section" id="sec-{{section.id[:6]}}">
            <p class="subtitle">{{section.subtitle[lang]}}</p>
            <h2>{{section.title[lang]}}</h2>
            <div class="attachment" id="sec-{{section.id[:6]}}"></div>
            {% if article.mediaType == "cover" %}
              <div class="cover" id="sec-{{section.id[:6]}}"></div>
            {%endif%}
            <p class="bio">{{section.bio[lang]}}</p>
            {% if section.attached_ad_id != '' %}
              <div class="section-ad-container">
                <div id="sec-{{section.id[:6]}}" class="article-section-ad"></div>
              </div>
            {%endif%}
          </div>
        {%endfor%}
      </div>
      <div id="right-section">
        <div id="header">
          <p id="current-tab-title"></p>
          <p id="current-tab-subtitle"></p>
          <p id="tabs-indicator"></p>
        </div>
        <div id="tabs-selector">
          <div id="body">
            {% for section in article.sections %}
              <div class="tab" id="sec-{{section.id[:6]}}">
                <p class="title">{{section.title[lang]}}</p>
                <p class="subtitle">{{section.subtitle[lang]}}</p>
              </div>
            {%endfor%}
          </div>
        </div>
      </div>
    </section>
    <div id="navigation-actions">
      <button class="shadow-button" id="previous"></button>
      <div id="tabs">
        {% for section in article.sections %}
          <div class="article-section-tab" id="sec-{{section.id[:6]}}"></div>
        {%endfor%}
      </div>
      <button class="shadow-button" id="next"></button>
    </div>
    <section id="commenting">
      <h2>{{content.global_[lang]['comments']}}</h2>
      <div id="header">
        <input type="text" name="comment-field" class="single-line-field" id="comment-field">
        <button class="main-button" id="comment-field-submission" onclick="publishNewComment('{%if not user_data%}Anonymous{%else%}{{user_data.id}}{%endif%}', '{%if not user_data%}Anonymous{%else%}{{user_data.name}}{%endif%}')">{{content.actions[lang]['add']}}</button>
      </div>
      <div id="comments">
        {% for comment in db_helper.articles.format_comments(article) %}
          <div class="comment-row">
            <div class="user-image" style="background-image: url(/assets/users/{{comment.commenter.id}});"></div>
            <div class="comment">
              <p class="comment">{{comment.comment}}</p>
              <p class="user-name">{{comment.commenter.name}}</p>
              <p class="date">{{comment.time | readable_time}}</p>
            </div>
          </div>
        {%endfor%}
      </div>
    </section>
    {% for writer in writers %}
      <section class="writer-section">
        <div class="left-section">
          {#{% for article_ in db_helper.articles.multiple_articles_by_ids(db_helper.articles.get_article_by_writer_id(writer.id))[:4] %}
                        <div class="search-dialog-article-card-border" onclick="window.open('/articles/{{article._id}}/', '_self')">

              <div class="search-dialog-article-card">
                <div class="cover-wrapper">
                  <div
                  class="cover"
                  style="background-image: url(/assets/articles/covers/{{article_.id}});"
                ></div>
                </div>
                <div class="content">
                  <div class="classification">
                  {% set parent_category=
                  db_helper.categories.get_parent_category_by_id(article_.parent_category)
                  %} {% if parent_category %}
                  <h4>{{parent_category.name[lang]}}</h4>
                  {%endif%} {% set category=
                  db_helper.categories.get_category_by_id(article_.category)%} {%
                  if category %}
                  <h4>{{category.name[lang]}}</h4>
                  {%endif%}

                  </div>
                  <h3>{{article_.title[lang]}}</h3>
                  <p>{{article_.short_brief[lang]}}</p>
                </div>
              </div>
            </div>
          {%endfor%}#}
        </div>
        <div class="right-section">
          <div class="writer-card">
            <div class="cover" style="background-image: url(/assets/writers/{{writer.id}});"></div>
            <div class="content">
              <h3 class="writer-card-title">{{writer.name[lang]}}</h3>
              <p class="writer-card-bio">{{writer.bio[lang][:200]}}</p>
              <div class="social-media-link">
                  {% if writer.social_media_links['FACEBOOK'] %}
                  <button onclick="window.open(`{{writer.social_media_links['FACEBOOK']}}`);" class="main-icon-button">
                    <i class="facebook"></i>
                  </button>
                  {% endif %}
                  {% if writer.social_media_links['TWITTER'] %}
                  <button onclick="window.open(`{{writer.social_media_links['TWITTER']}}`);" class="main-icon-button">
                    <i class="twitter"></i>
                  </button>
                  {% endif %}
                  {% if writer.social_media_links['INSTAGRAM'] %}
                  <button onclick="window.open(`{{writer.social_media_links['INSTAGRAM']}}`);" class="main-icon-button">
                    <i class="instagram"></i>
                  </button>
                  {% endif %}
                  {% if writer.social_media_links['LINKEDIN'] %}
                  <button onclick="window.open(`{{writer.social_media_links['LINKEDIN']}}`);" class="main-icon-button">
                    <i class="linkedin"></i>
                  </button>
                  {% endif %}
                  {% if writer.social_media_links['TIKTOK'] %}
                  <button onclick="window.open(`{{writer.social_media_links['TIKTOK']}}`);" class="main-icon-button">
                    <i class="tiktok"></i>
                  </button>
                  {% endif %}
              </div>
              <div class="options">
                <a href="/writers/{{writer.id}}/" class="main-button">{{content.actions[lang]['seeAllArticles']}}</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}

    <section id="missing-articles">
      <h1>{{content.global_[lang]['incaseYouMissed']}}</h1>
      <p>{{content.global_[lang]['incaseYouMissedMsg']}}</p>
      <div id="cards">
          {% for article_ in db_helper.articles.multiple_articles_by_ids(db_helper.articles.get_articles_by_category_and_parent_category(category= article.category, parent_category= article.parent_category))[:8] %}
                        <div class="search-dialog-article-card-border" onclick="window.open('/articles/{{article._id}}/', '_self')">

              <div class="search-dialog-article-card">
                <div
                  class="cover"
                  style="background-image: url(/assets/articles/covers/{{article.id}});"
                ></div>
                <div class="content">
                  <div class="classification">
                    <h4>
                      {{db_helper.categories.get_parent_category_by_id(article_.parent_category).name[lang]}}
                    </h4>
                    <h4>
                      {{db_helper.categories.get_category_by_id(article_.category).name[lang]}}
                    </h4>
                  </div>
                  <h3>{{article_.title[lang]}}</h3>
                  <p>{{article_.short_brief[lang]}}</p>
                </div>
              </div>
            </div>
          {%endfor%}
      </div>
    </section>
    <section class="random-quote">
      {% set random_quote= db_helper.quotes.get_quote()%}
      <div class="decoration">"</div>
      <div class="content">
        <h3>{{random_quote['quote'][lang]}}</h3>
        <p>{{random_quote['quoteeName'][lang]}}</p>
      </div>
      <div class="decoration">"</div>
    </section>

    <footer>
      </div>
      <div class="footer-row" id="info">
        <div id="information">
          <div id="logo" class="symbol"></div>
          <h3 onclick="window.open('/', '_self');" style="cursor: pointer">{{content.global_[lang]['platformTitle']}}</h3>
          <p>{{content.global_[lang]['footerMsg']}}</p>
        </div>
        <div id="findUs">
          <h3>{{content.global_[lang]['lightToFindUs']}}</h3>
          <div id="social-media-icons">
            {% if cfg.facebook != '' %}
            <a
              href="{{cfg.facebook}}"
              class="facebook main-icon-button"
              id="facebook"
              ><i class="facebook"></i
            ></a>
            {%endif%} {% if cfg.instagram != '' %}
            <a
              href="{{cfg.instagram}}"
              class="instagram main-icon-button"
              id="instagram"
              ><i class="instagram"></i
            ></a>
            {%endif%} {% if cfg.twitter != '' %}
            <a
              href="{{cfg.twitter}}"
              class="twitter main-icon-button"
              id="twitter"
              ><i class="twitter"></i
            ></a>
            {%endif%} {% if cfg.linkedin != '' %}
            <a
              href="{{cfg.linkedin}}"
              class="linkedin main-icon-button"
              id="linkedin"
              ><i class="linkedin"></i
            ></a>
            {%endif%} {% if cfg.tiktok != '' %}
            <a href="{{cfg.tiktok}}" class="tiktok main-icon-button" id="tiktok"
              ><i class="tiktok"></i
            ></a>
            {%endif%}
          </div>
        </div>
      </div>
      <div class="footer-row" id="warning">
        <p id="title">{{content.global_[lang]['riskwarning']}}</p>
        <p id="warning">{{content.global_[lang]['riskwarningMsg']}}</p>
      </div>
      <div class="footer-row">
        <p id="copyright">{{content.global_[lang]['copyrightMsg']}}</p>
      </div>
    </footer>
    <div id="search-dialog-overlay" onclick="closeSearchDialog();"></div>
    <div id="search-dialog" class="dialog">
      <div id="overlay">
        <div class="header">
          <h3>{{content.global_[lang]['search']}}</h3>
          <div id="sheach-dialog-close" onclick="closeSearchDialog();">x</div>
        </div>
        <div id="body">
          <div id="search-options">
            <div id="field-wrapper">
              <input
                class="single-line-field-awhite"
                type="text"
                name="token"
                placeholder="{{content.placeholders[lang]['search']}}"
              />
              <button class="main-button">
                {{content.global_[lang]['search']}}
              </button>
            </div>
            <div id="search-dialog-categories">
              {% for pcat in db_helper.categories.parent_cats %}
              <div class="search-dialog-categories-column">
                <a class="parent-cat" href="{{pcat.main_route}}"
                  >{{pcat.name[lang]}}</a
                >
                <p>{{pcat.bio[lang][:50]}}...</p>
                {% for cat in pcat.categories %}
                <a class="inner-cat" href="/categories/{{cat.id}}/"
                  >{{cat.name[lang]}}</a
                >
                {%endfor%}
              </div>
              {% endfor %}
            </div>
          </div>
          <div id="trending-articles">
            <div class="header">
              <h3>{{content.global_[lang]['trendingNow']}}</h3>
              <button class="main-button">
                {{content.actions[lang]['seeMore']}}
              </button>
            </div>
            <div id="trending-articles-body">
              {% for article in db_helper.articles.all_articles[:9] %}
                          <div class="search-dialog-article-card-border" onclick="window.open('/articles/{{article._id}}/', '_self')">

                <div class="search-dialog-article-card">
                  <div
                    class="cover"
                    style="background-image: url(/assets/articles/covers/{{article.id}});"
                  ></div>
                  <div class="content">
                    <div class="classification">
                      <h4>
                        {{db_helper.categories.get_parent_category_by_id(article.parent_category).name[lang]}}
                      </h4>
                      <h4>
                        {{db_helper.categories.get_category_by_id(article.category).name[lang]}}
                      </h4>
                    </div>
                    <h3>{{article.title[lang]}}</h3>
                    <p>{{article.short_brief[lang]}}</p>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="login-dialog-overlay" onclick="closeLoginDialog();"></div>
    <div id="login-dialog" class="dialog">
      <div id="overlay">
        <div class="header">
          <h3>{{content.actions[lang]['login']}}</h3>
          <div id="sheach-dialog-close" onclick="closeLoginDialog();">x</div>
        </div>
        <div id="body">
          <div id="form">
            <h3>{{content.actions[lang]['login']}}</h3>
            <div class="field-border">
              <input
                type="email"
                name="email"
                placeholder="{{content.placeholders[lang]['emailFieldPlaceholder']}}"
                class="single-line-field-awhite"
              />
            </div>
            <div class="field-border">
              <input
                type="password"
                name="password"
                placeholder="{{content.placeholders[lang]['passwordFieldPlaceholder']}}"
                class="single-line-field-awhite"
              />
            </div>
            <div id="options">
              <div class="checkbox-container">
                <label for="rememberMe">
                  <input type="checkbox" name="rememberMe" id="rememberMe" />
                  {{content.actions[lang]['rememberMe']}}
                </label>
              </div>
              <a href="/passwordReset/" class="shadow-button"
                >{{content.actions[lang]['forgetPassword']}}</a
              >
            </div>
            <div id="actions">
              <button onclick="loginDialogSubmit()" class="main-button">
                {{content.actions[lang]['login']}}
              </button>
              <a href="/join/" class="shadow-button"
                >{{content.global_[lang]['dontHaveAccount']}}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="dialogs-overlay"></div>
    <div class="article-dialogs" id="share-dialog">
      <div class="article-dialogs-overlay">
        <div class="header">
          <h3>{{content.actions[lang]['share']}}<br><span>{{content.global_[lang]['shareMsg']}}</span></h3>
          <div class="article-dialogs-close" onclick="closeArticleDialogs()">x</div>
        </div>
        <div class="body">
          <p>{{content.actions[lang]['shareLinkVia']}}</p>
          <div id="social-media-icons">
            <button style="border-radius: 50%;" class="shadow-icon-button"><i class="facebook"></i></button>
            <button style="border-radius: 50%;" class="shadow-icon-button"><i class="linkedin"></i></button>
            <button style="border-radius: 50%;" class="shadow-icon-button"><i class="twitter"></i></button>
            <button style="border-radius: 50%;" class="shadow-icon-button"><i class="whatsapp"></i></button>
            <button style="border-radius: 50%;" class="shadow-icon-button"><i class="instagram"></i></button>
            <button style="border-radius: 50%;" class="shadow-icon-button"><i class="tiktok"></i></button>
          </div>
          <p>{{content.actions[lang]['shareLink']}}</p>
          <div id="link" dir="ltr">
            <p></p>
            <button class="shadow-icon-button"><i class="copy"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="article-dialogs" id="rate-dialog">
      <div class="article-dialogs-overlay"></div>
    </div>
    <div class="article-dialogs" id="listen-dialog">
      <div class="article-dialogs-overlay">
        <div class="header">
          <h3>{{content.actions[lang]['listen']}}<br><span>{{content.global_[lang]['listenMsg']}}</span></h3>
          <div class="article-dialogs-close" onclick="closeArticleDialogs()">x</div>
        </div>
        <div class="body">
          <audio id="player" src="/assets/articles/podcast/{{article.id}}/"></audio>
          <div id="tabs">
            {% for section in article.sections %}
              <div class="listen-tab" id="{{section.audio_stop}}">
                <strong>{{section.title[lang]}}</strong>
                <p>{{section.subtitle[lang]}}</p>
              </div>
            {% endfor %}
          </div>
          <div id="progress-container">
            <div id="indicators">
              <p id="current-time"></p>
              <p id="full-time"></p>
            </div>
            <div id="progress-parent">
              <div id="progress"></div>
            </div>
          </div>
          <div id="options">
            <button class="shadow-icon-button" id="restart"><i class="restart"></i></button>
            <button class="shadow-icon-button" id="back"><i class="seek-back"></i></button>
            <button class="shadow-icon-button" id="pause"><i class="pause"></i></button>
            <button class="shadow-icon-button" id="start"><i class="start"></i></button>
            <button class="shadow-icon-button" id="forward"><i class="seek-forward"></i></button>
            <button class="shadow-icon-button" id="repeat"><i class="repeat"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="article-dialogs" id="comments-dialog">
      <div class="article-dialogs-overlay"></div>
    </div>
    <div id="drawer-overlay"></div>
    <div id="drawer-menu">
      <div id="header">
        <div id="logo">
          <div id="logo"></div>
          <div id="title">{{content.global_[lang]['platformTitle']}}</div>
        </div>
        <div id="close" onclick="toggleDrawer();">x</div>
      </div>
      <div id="tabs">
        <a href="/" class="drawer-tab" id="home">{{content.tabs[lang]["home"]}}</a>
        <a href="/aboutUs/" class="drawer-tab" id="aboutUs">{{content.tabs[lang]["aboutUs"]}}</a>
        <a href="/articles/" class="drawer-tab" id="articles">{{content.tabs[lang]["articles"]}}</a>
        <a href="/careers/" class="drawer-tab" id="careers">{{content.tabs[lang]["careers"]}}</a>
        <a href="/categories/" class="drawer-tab" id="categories">{{content.tabs[lang]["categories"]}}</a>
        <a href="/agenda/" class="drawer-tab" id="agenda">{{content.tabs[lang]["agenda"]}}</a>
        {% for pcat in db_helper.categories.parent_cats %}
          <div onclick="toggleClassificationRow(this);" class="classifications-collapsable" id="{{(pcat.id | string)[:6]}}">
            <div class="header">
              <p>{{pcat.name[lang]}}</p>
              <div class="icon">{{'>'}}</div>
            </div>
            <div class="body">
              {% for cat in pcat.categories %}
                <a href="/categories/{{cat.id}}/" class="drawer-tab" id="{{cat.name['EN'] | lower}}">{{cat.name[lang]}}</a>
              {%endfor%}
            </div>
          </div>
        {%endfor%}
      </div>
      <div id="social-media-icons">
        {% if cfg.facebook != '' %}
        <a
          href="{{cfg.facebook}}"
          class="facebook main-icon-button"
          id="facebook"
          ><i class="facebook"></i
        ></a>
        {%endif%} {% if cfg.instagram != '' %}
        <a
          href="{{cfg.instagram}}"
          class="instagram main-icon-button"
          id="instagram"
          ><i class="instagram"></i
        ></a>
        {%endif%} {% if cfg.twitter != '' %}
        <a
          href="{{cfg.twitter}}"
          class="twitter main-icon-button"
          id="twitter"
          ><i class="twitter"></i
        ></a>
        {%endif%} {% if cfg.linkedin != '' %}
        <a
          href="{{cfg.linkedin}}"
          class="linkedin main-icon-button"
          id="linkedin"
          ><i class="linkedin"></i
        ></a>
        {%endif%} {% if cfg.tiktok != '' %}
        <a href="{{cfg.tiktok}}" class="tiktok main-icon-button" id="tiktok"
          ><i class="tiktok"></i
        ></a>
        {%endif%}
      </div>
      <div id="copyright">
        <p>{{content.global_[lang]['copyrightMsg']}}</p>
      </div>
    </div>

    <script type="text/javascript">
      changeHeaderLogoOnScroll= false;
      const init= ()=> {
        initDrawer('{{lang}}');

        generateAdSpace({
          adData: {{json_parser(entry_ad.to_dict()) | safe}},
          space: document.getElementById('entry-ad'),
          lang: '{{lang}}'
        });
        var attachmentSection;
        {% for section in article.sections %}
           attachmentSection= document.querySelector('.attachment#sec-{{section.id[:6]}}')
          switch('{{section.attachment_type}}') {
            case 'image':
              generateImageAttachment(attachmentSection, '#sec-{{section.id[:6]}}');
              break;
            case 'video':
              generateVideoAttachment(attachmentSection, '#sec-{{section.id[:6]}}');
              break;
            case 'audio':
              generateAudioAttachment(attachmentSection, '#sec-{{section.id[:6]}}');
              break;
            default:
            case 'None':
              break;
          }

          {% if section.attached_ad_id != '' %}
            generateAdSpace({
              adData: {{json_parser(db_helper.ads.get_ad_by_id(section.attached_ad_id).to_dict()) | safe}},
              space: document.querySelector('.article-section-ad#sec-{{section.id[:6]}}'),
              lang: '{{lang}}'
            })
          {% endif %}
        {%endfor%}
        initializeSections({{utils.mutliple_to_dicts(article.sections) | safe}}, '{{lang}}');

        document.querySelector('#share-dialog #link p').innerHTML= window.location.href;
        document.firstElementChild.setAttribute('data-theme', '{{mode | lower}}')


      }

      if (window.addEventListener) window.addEventListener('load', init);
      else if (window.attachEvent) window.attachEvent('load', init);
    </script>
  </body>
</html>
