<!DOCTYPE html>
{% if lang == 'AR' %}
<html dir="RTL">
  {% else %}
  <html dir="LTR">
    {% endif %}
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>
        {{content.global_[lang]['platformTitle']}} - {{category.name[lang]}}
      </title>
      <link
        rel="icon"
        type="image/x-icon"
        href="{{url_for('static', filename='website/global/styles/images/symbol-512.ico')}}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static', filename='website/category/styles/computer.css')}}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static', filename='website/category/styles/largeTablets.css')}}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static', filename='website/category/styles/smallTablets.css')}}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static', filename='website/category/styles/mobile.css')}}"
      />

      <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static', filename='website/global/styles/computer.css')}}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static', filename='website/global/styles/largeTablets.css')}}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static', filename='website/global/styles/smallTablets.css')}}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static', filename='website/global/styles/mobile.css')}}"
      />

      <script
        type="text/javascript"
        src="{{url_for('static', filename='website/global/scripts/main.js')}}"
      ></script>
      <script
        type="text/javascript"
        src="{{url_for('static', filename='website/category/scripts/main.js')}}"
      ></script>
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet"
      />
    </head>
    <body>
      <style type="text/css">
        {% if lang == 'AR' %}
        :root {
          --pff: "Neue Haas Grotesk Display Pro";
          --sff: sans-serif;
        }
        {% else %}
        :root {
          --pff: "Raleway";
          --sff: "Poppins";
        }
        {% endif %}
      </style>
          <header>
            <div id="intro-row">
              <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <button onclick="toggleDrawer()" class="shadow-icon-button" style="display: flex;" id="drawer"><i class="drawer"></i></button>
                <div
                onclick="window.open('{{consts.index_route}}', `_self`);"
                id="logo"
                ></div>
              </div>
            <div id="options">
              {% if user_data %}
              <button onclick="window.open('/profile/', '_self');" class="shadow-button" id="welcome-back">{{content.global_[lang]['welcomeBack']}}<br><span>{{user_data.name}}<span></span></button>
              {%else%}
              <button onclick="window.open('/login/', '_self');" class="main-button">
                {{content.actions[lang]['login']}}
              </button>
              {%endif%}
              |
              <button onclick="openSearcDFhDialog();" class="main-icon-button">
                <i onclick="openSearchDialog();" class="search"></i>
              </button>
              <button onclick="toggleTheme(`{{mode}}`);" class="main-icon-button">
                <i class="theme"></i>
              </button>
              <div class="lang header-dropdown">
                <button class="main-icon-button" id="lang"><i class="lang"></i></button>
                <div class="lang header-dropdown-content">
                  <div id="dropdown-tabs">
                    <button class="lang {%if lang == 'EN' %} active {%endif%} header-tab" onclick="toggleLang(`{{lang}}`)">English</button>
                    <button class="lang {%if lang == 'AR' %} active {%endif%} header-tab" onclick="toggleLang(`{{lang}}`)">العربية</button>
                  </div>
                </div>
            </div>
            </div>
            </div>
            <div id="tabs">
              <div id="tabs">
                <button onclick="toggleDrawer()" class="shadow-icon-button" style="display: none;" id="drawer"><i class="drawer"></i></button>
              <div
              onclick="window.open('{{consts.index_route}}', `_self`);"
              id="logo"
              ></div>
              {% for tab in layout.header_tabs %}
                {% if tab['mode'] == 'link' %}
                  <a href="{{tab['redirect']}}" class="header-tab">{{content.tabs[lang][tab['text']]}}</a>
                {%endif%}
                {% if tab['mode'] == 'category' %}
                  <a href="/categories/{{tab['categoryId']}}" class="header-tab">{{db_helper.categories.get_category_by_id(tab['categoryId']).name[lang]}}</a>
                {%endif%}
                {% if tab['mode'] == 'classification' %}
                {%set classification= db_helper.categories.get_parent_category_by_id(tab['classificationId']) %}
                  <div class="header-dropdown">
                    <button onclick="window.open(`/classifications/{{classification.id}}`, '_self')" class="header-dropbtn">{{classification.name[lang]}}</button>
                    <div class="header-dropdown-content">
                      <div id="label">
                        <h3>{{classification.name[lang]}}</h3>
                        <p>{{classification.bio[lang]}}</p>
                        <button onclick="window.open(`/classifications/{{classification.id}}`, '_self')" class="main-button">{{content.actions[lang]['seeMore']}}</button>
                      </div>
                      <div id="dropdown-tabs">
                        {% for category in classification['categories'] %}
                        <a class="header-tab" href="/categories/{{category.id}}">
                          <div class="shadow-icon-button"><i style="background-image: url('/assets/categories/icons/{{category.id}}/');"></i></div>
                          <p>{{category.name[lang]}}</p>
                        </a>
                        {%endfor%}
                      </div>
                    </div>
                </div>
                {%endif%}
              {%endfor%}
              </div>
              <div id="options">
                <button onclick="openSearcDFhDialog();" class="main-icon-button collabsed">
                  <i onclick="openSearchDialog();" class="search"></i>
                </button>
                <div class="lang header-dropdown">
                  <button class="main-icon-button collabsed" id="lang"><i class="lang"></i></button>
                  <div class="lang header-dropdown-content">
                    <div id="dropdown-tabs">
                      <button class="lang {%if lang == 'EN' %} active {%endif%} header-tab" onclick="toggleLang(`{{lang}}`)">English</button>
                      <button class="lang {%if lang == 'AR' %} active {%endif%} header-tab" onclick="toggleLang(`{{lang}}`)">العربية</button>
                    </div>
                  </div>
              </div>
              </div>
        
            </div>
          </header>      
      <section
        id="entry"
        style="background-image: url('/assets/categories/covers/{{category.id}}');"
      >
        <div id="overlay">
          <h1>{{category.name[lang]}}</h1>
          <p>{{category.bio[lang]}}</p>
        </div>
      </section>
      <section id="articles">
        <div id="header">
          <h2>{{content.global_[lang]['articles']}}</h2>
          <div id="fragments-controllers">
            <button
              onclick="selectFragment(this, 'trending-fragment');"
              class="shadow-button active"
            >
              {{content.global_[lang]['trending']}}
            </button>
            <button
              onclick="selectFragment(this, 'recent-fragment');"
              class="shadow-button"
            >
              {{content.global_[lang]['mostRecent']}}
            </button>
            <button
              onclick="selectFragment(this, 'random-fragment');"
              class="shadow-button"
            >
              {{content.global_[lang]['random']}}
            </button>
            <button
              onclick="selectFragment(this, 'all-fragment');"
              class="shadow-button"
            >
              {{content.global_[lang]['allArticles']}}
            </button>
          </div>
        </div>
        <div id="body">
          <div id="fragments">
            <div class="articles-fragment active" id="trending-fragment">
              {% for article in db_helper.articles.get_all_articles() %}
              <div
                class="search-dialog-article-card-border"
                onclick="window.open('/articles/{{article.id}}/', '_self')"
              >
                <div class="search-dialog-article-card">
                  <div class="cover-wrapper">
                    <div
                      class="cover"
                      style="background-image: url(/assets/articles/covers/{{article.id}});"
                    ></div>
                  </div>
                  <div class="content">
                    <div class="classification">
                      {% set parent_category=
                      db_helper.categories.get_parent_category_by_id(article.parent_category)
                      %} {% if parent_category %}
                      <h4>{{parent_category.name[lang]}}</h4>
                      {%endif%} {% set category=
                      db_helper.categories.get_category_by_id(article.category)%}
                      {% if category %}
                      <h4>{{category.name[lang]}}</h4>
                      {%endif%}
                    </div>
                    <h3>{{article.title[lang]}}</h3>
                    <p>{{article.short_brief[lang]}}</p>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
            <div class="articles-fragment" id="recent-fragment">
              {% for article in db_helper.articles.get_all_articles() %}
              <div
                class="search-dialog-article-card-border"
                onclick="window.open('/articles/{{article.id}}/', '_self')"
              >
                <div class="search-dialog-article-card">
                  <div
                    class="cover"
                    style="background-image: url(/assets/articles/covers/{{article.id}});"
                  ></div>
                  <div class="content">
                    <div class="classification">
                      {% set classification=
                      db_helper.categories.get_parent_category_by_id(article.parent_category)
                      %} {% if classification %}
                      <h4>{{classification.name[lang]}}</h4>
                      {%endif%} {% set category=
                      db_helper.categories.get_category_by_id(article.category)
                      %} {% if category %}
                      <h4>{{category.name[lang]}}</h4>
                      {%endif%}
                    </div>
                    <h3>{{article.title[lang]}}</h3>
                    <p>{{article.short_brief[lang]}}</p>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
            <div class="articles-fragment" id="random-fragment">
              {% for article in db_helper.articles.get_all_articles() %}
              <div
                class="search-dialog-article-card-border"
                onclick="window.open('/articles/{{article.id}}/', '_self')"
              >
                <div class="search-dialog-article-card">
                  <div
                    class="cover"
                    style="background-image: url(/assets/articles/covers/{{article.id}});"
                  ></div>
                  <div class="content">
                    <div class="classification">
                      {% set classification=
                      db_helper.categories.get_parent_category_by_id(article.parent_category)
                      %} {% if classification %}
                      <h4>{{classification.name[lang]}}</h4>
                      {%endif%} {% set category=
                      db_helper.categories.get_category_by_id(article.category)
                      %} {% if category %}
                      <h4>{{category.name[lang]}}</h4>
                      {%endif%}
                    </div>
                    <h3>{{article.title[lang]}}</h3>
                    <p>{{article.short_brief[lang]}}</p>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
            <div class="articles-fragment" id="all-fragment">
              {% for article in db_helper.articles.get_all_articles() %}
              <div
                class="search-dialog-article-card-border"
                onclick="window.open('/articles/{{article.id}}/', '_self')"
              >
                <div class="search-dialog-article-card">
                  <div
                    class="cover"
                    style="background-image: url(/assets/articles/covers/{{article.id}});"
                  ></div>
                  <div class="content">
                    <div class="classification">
                      {% set classification=
                      db_helper.categories.get_parent_category_by_id(article.parent_category)
                      %} {% if classification %}
                      <h4>{{classification.name[lang]}}</h4>
                      {%endif%} {% set category=
                      db_helper.categories.get_category_by_id(article.category)
                      %} {% if category %}
                      <h4>{{category.name[lang]}}</h4>
                      {%endif%}
                    </div>
                    <h3>{{article.title[lang]}}</h3>
                    <p>{{article.short_brief[lang]}}</p>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
          <div id="side-bar">
            <div id="filter-form">
              <h3>{{content.global_[lang]['filter']}}</h3>
              <p>{{content.global_[lang]['filterMsg']}}</p>
              <label for="name"
                >{{content.global_[lang]['articleTitle']}}</label
              >
              <input
                class="single-line-field-awhite"
                type="name"
                name="name"
                placeholder="{{content.placeholders[lang]['search']}}"
              />
              <div id="options">
                <button class="shadow-button" onclick="clearFilter();">
                  {{content.actions[lang]['clear']}}
                </button>
                <button class="main-button">
                  {{content.global_[lang]['search']}}
                </button>
              </div>
              <p id="filter-msg"></p>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="footer-row" id="categories">
          {% for pcat in db_helper.categories.parent_cats %}
          <div class="categories-column">
            <label><strong>{{pcat.name[lang]}}</strong></label>
            <p>{{pcat.bio[lang][:50]}}...</p>
            <div class="categories-column-tabs">
              {% for cat in pcat.categories %}
              <a href="/categories/{{cat.id}}/">{{cat.name[lang]}}</a>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="footer-row" id="info">
          <div id="information">
            <div id="logo" class="symbol"></div>
            <h3 onclick="window.open('/', '_self');" style="cursor: pointer">
              {{content.global_[lang]['platformTitle']}}
            </h3>
            <p>{{content.global_[lang]['footerMsg']}}</p>
          </div>
          <div id="findUs">
            <h3>{{content.global_[lang]['lightToFindUs']}}</h3>
            <div id="social-media-icons">
              {% if cfg.facebook != '' %}
              <a
                href="{{cfg.facebook}}"
                class="facebook main-icon-button"
                id="facebook"
                ><i class="facebook"></i
              ></a>
              {%endif%} {% if cfg.instagram != '' %}
              <a
                href="{{cfg.instagram}}"
                class="instagram main-icon-button"
                id="instagram"
                ><i class="instagram"></i
              ></a>
              {%endif%} {% if cfg.twitter != '' %}
              <a
                href="{{cfg.twitter}}"
                class="twitter main-icon-button"
                id="twitter"
                ><i class="twitter"></i
              ></a>
              {%endif%} {% if cfg.linkedin != '' %}
              <a
                href="{{cfg.linkedin}}"
                class="linkedin main-icon-button"
                id="linkedin"
                ><i class="linkedin"></i
              ></a>
              {%endif%} {% if cfg.tiktok != '' %}
              <a
                href="{{cfg.tiktok}}"
                class="tiktok main-icon-button"
                id="tiktok"
                ><i class="tiktok"></i
              ></a>
              {%endif%}
            </div>
          </div>
        </div>
        <div class="footer-row" id="warning">
          <p id="title">{{content.global_[lang]['riskwarning']}}</p>
          <p id="warning">{{content.global_[lang]['riskwarningMsg']}}</p>
        </div>
        <div class="footer-row">
          <p id="copyright">{{content.global_[lang]['copyrightMsg']}}</p>
        </div>
      </footer>
      <div id="search-dialog-overlay" onclick="closeSearchDialog();"></div>
      <div id="search-dialog" class="dialog">
        <div id="overlay">
          <div class="header">
            <h3>{{content.global_[lang]['search']}}</h3>
            <div id="sheach-dialog-close" onclick="closeSearchDialog();">x</div>
          </div>
          <div id="body">
            <div id="search-options">
              <div id="field-wrapper">
                <input
                  class="single-line-field-awhite"
                  type="text"
                  name="token"
                  placeholder="{{content.placeholders[lang]['search']}}"
                />
                <button class="main-button">
                  {{content.global_[lang]['search']}}
                </button>
              </div>
              <div id="search-dialog-categories">
                {% for pcat in db_helper.categories.parent_cats %}
                <div class="search-dialog-categories-column">
                  <a class="parent-cat" href="{{pcat.main_route}}"
                    >{{pcat.name[lang]}}</a
                  >
                  <p>{{pcat.bio[lang][:50]}}...</p>
                  {% for cat in pcat.categories %}
                  <a class="inner-cat" href="/categories/{{cat.id}}/"
                    >{{cat.name[lang]}}</a
                  >
                  {%endfor%}
                </div>
                {% endfor %}
              </div>
            </div>
            <div id="trending-articles">
              <div class="header">
                <h3>{{content.global_[lang]['trendingNow']}}</h3>
                <button class="main-button">
                  {{content.actions[lang]['seeMore']}}
                </button>
              </div>
              <div id="trending-articles-body">
                {% for article in db_helper.articles.all_articles[:9] %}
                <div
                  class="search-dialog-article-card-border"
                  onclick="window.open('/articles/{{article.id}}/', '_self')"
                >
                  <div class="search-dialog-article-card">
                    <div
                      class="cover"
                      style="background-image: url(/assets/articles/covers/{{article.id}});"
                    ></div>
                    <div class="content">
                      <div class="classification">
                        {% set classification=
                        db_helper.categories.get_parent_category_by_id(article.parent_category)
                        %} {% if classification %}
                        <h4>{{classification.name[lang]}}</h4>
                        {%endif%} {% set category=
                        db_helper.categories.get_category_by_id(article.category)
                        %} {% if category %}
                        <h4>{{category.name[lang]}}</h4>
                        {%endif%}
                      </div>
                      <h3>{{article.title[lang]}}</h3>
                      <p>{{article.short_brief[lang]}}</p>
                    </div>
                  </div>
                </div>
                {%endfor%}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="drawer-overlay"></div>
      <div id="drawer-menu">
        <div id="header">
          <div id="logo">
            <div id="logo"></div>
            <div id="title">{{content.global_[lang]['platformTitle']}}</div>
          </div>
          <div id="close" onclick="toggleDrawer();">x</div>
        </div>
        <div id="tabs">
          <a href="/" class="drawer-tab" id="home"
            >{{content.tabs[lang]["home"]}}</a
          >
          <a href="/aboutUs/" class="drawer-tab" id="aboutUs"
            >{{content.tabs[lang]["aboutUs"]}}</a
          >
          <a href="/articles/" class="drawer-tab" id="articles"
            >{{content.tabs[lang]["articles"]}}</a
          >
          <a href="/careers/" class="drawer-tab" id="careers"
            >{{content.tabs[lang]["careers"]}}</a
          >
          <a href="/categories/" class="drawer-tab" id="categories"
            >{{content.tabs[lang]["categories"]}}</a
          >
          <a href="/agenda/" class="drawer-tab" id="agenda"
            >{{content.tabs[lang]["agenda"]}}</a
          >
          {% for pcat in db_helper.categories.parent_cats %}
          <div
            onclick="toggleClassificationRow(this);"
            class="classifications-collapsable"
            id="{{(pcat.id | string)[:6]}}"
          >
            <div class="header">
              <p>{{pcat.name[lang]}}</p>
              <div class="icon">{{'>'}}</div>
            </div>
            <div class="body">
              {% for cat in pcat.categories %}
              <a
                href="/categories/{{cat.id}}/"
                class="drawer-tab"
                id="{{cat.name['EN'] | lower}}"
                >{{cat.name[lang]}}</a
              >
              {%endfor%}
            </div>
          </div>
          {%endfor%}
        </div>
        <div id="social-media-icons">
          {% if cfg.facebook != '' %}
          <a
            href="{{cfg.facebook}}"
            class="facebook main-icon-button"
            id="facebook"
            ><i class="facebook"></i
          ></a>
          {%endif%} {% if cfg.instagram != '' %}
          <a
            href="{{cfg.instagram}}"
            class="instagram main-icon-button"
            id="instagram"
            ><i class="instagram"></i
          ></a>
          {%endif%} {% if cfg.twitter != '' %}
          <a
            href="{{cfg.twitter}}"
            class="twitter main-icon-button"
            id="twitter"
            ><i class="twitter"></i
          ></a>
          {%endif%} {% if cfg.linkedin != '' %}
          <a
            href="{{cfg.linkedin}}"
            class="linkedin main-icon-button"
            id="linkedin"
            ><i class="linkedin"></i
          ></a>
          {%endif%} {% if cfg.tiktok != '' %}
          <a href="{{cfg.tiktok}}" class="tiktok main-icon-button" id="tiktok"
            ><i class="tiktok"></i
          ></a>
          {%endif%}
        </div>
        <div id="copyright">
          <p>{{content.global_[lang]['copyrightMsg']}}</p>
        </div>
      </div>

      <script type="text/javascript">
        const init= ()=> {
           initDrawer('{{lang}}');
        	changeHeaderLogoOnScroll= true;
           	document.firstElementChild.setAttribute('data-theme', '{{mode | lower}}');
           	initTrendingArticles({{dumps(utils.mutliple_to_dicts(articles['trending'])) | safe}})
           	initfeaturedArticles({{dumps(utils.mutliple_to_dicts(articles['featured'])) | safe}})
           	initAllArticles({{dumps(utils.mutliple_to_dicts(articles['all_articles'])) | safe}})
           	initRecentArticles({{dumps(utils.mutliple_to_dicts(articles['mostRecent'])) | safe}})

        }

        if(window.attachEvent) window.attachEvent('load', init);
        else if(window.addEventListener) window.addEventListener('load', init);
      </script>
    </body>
  </html>
</html>
